#root {
    height: 100%;
}

.App {
    height: 100%;
}

.animated-skills-container {
    display: flex;
    flex-direction: row;
    height: 100%;
};

.animated-skills-container > p {
    margin: 0;
    padding: 0;

}